html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  }

body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: flex-start; /* Align to top due to fixed navbar */
  padding-top: 60px; /* Account for the navbar height */
}

.homePage {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 40px;
  
  height: calc(100vh - 60px); /* Full height minus navbar height */
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header {
  margin-bottom: 20px;
}

.header h1 {
  font-size: 2.5em;
  color: #0073e6;
}

.header h2 {
  font-size: 1.5em;
  color: #666;
}

.content {
  flex-grow: 1; /* Allow content to grow and take available space */
}

.content p {
  font-size: 1.1em;
  line-height: 1.6;
  margin-bottom: 20px;
}

.footer {
  margin-top: 40px;
  font-size: 0.9em;
  color: #999;
}

.footer p {
  margin: 0;
}
